#center {
display: flex;
justify-content: center;
}
.add-container {
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: flex-start;
margin-top: 30px;
margin-bottom: 10px;
border: 1px solid red;
}

.add-item {
margin: 10px;
color: #9D3939;
}


/* 공지사항 css 

#announcement {
width: 80%;
height: 200px; 
font-size: 16px; 
margin-bottom: 20px; 
}
*/

#send-btn {
padding: 5px 10px; 
font-size: 14px; 
margin-top: 10px;
}

.btn-primary {
    background-color: #9D3939;
    border: none;
    color: #fff;
    border-radius: 10px; /* 조절 가능한 값 */
    padding: 10px 20px; /* 버튼 내부 여백 설정 */
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #7b2a2a;
}
div {
    text-align: center;
  }