@font-face {
    font-family: 'ChosunGu';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.announce-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    }
    
    .announce-box {
    width: 600px;
    margin-bottom: 20px;
    padding: 20px;
    border: 3px solid #ccc;
    box-sizing: border-box;
    }
    /* 
    a.item-title {
    color: black;
    } */
    
    .item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    }
    
    .item-container input {
    margin-right: 10px; 
    }
    
    .update-box {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    }
    .update-box button {
    margin-left: 10px;
    padding: 2px;
    }
    
    
    .center-maker {
    display: flex;
    justify-content: center; 
    align-items: center; 
    }
    
    .center {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .delete-button,
    .add-button {
        font-family: 'ChosunGu';
    width: 60px;
    height: 40px;
    font-size: 20px;
    font-weight: lighter;
    border: 1px solid #dcdcdc; /* 매우 얇은 테두리 추가 */
    border-radius: 5px;
    background-color: #edede5; /* 배경 색상 */
    color: #333333; /* 글자색 */
    cursor: pointer;
    }
.menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 80px;
    }
    
.menu-item {
    width: 300px;
    background-color: white;
    position: relative;
    padding: 10px; 
    border-radius: 10px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    }

@media ( max-width: 768px ) {
    
    .announce-box{
        width: 300px;
    }
}

