@font-face {
    font-family: 'Godo';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
}

@font-face {
    font-family: 'TTTtangsbudaejjigaeB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/TTTtangsbudaejjigaeB.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

body {
    background-color: #F1F1F1;
    font-family: 'Godo';
}

header {
    background-color: #F1F1F1;
    text-align: center;
    position: relative; 
    border: none;
}

#menu-icon {
    display: none; /* 초기에는 햄버거 아이콘 숨김 */
    position: absolute;
    top: 20px; 
    right: 20px; 
    cursor: pointer;
    z-index: 100;
}

.modal {
    display: none;
    position: fixed;
    z-index: 101;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}
.modal-content {
    display: grid;
    grid-template-rows: repeat(auto, 1fr);
    position: relative;
    background-color: #F1F1F1;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    height: 60%;
    max-width: 800px; 
    max-height: 600px;
    border-radius: 20px;
    z-index: 10;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 30%;
    white-space: nowrap;
}

.tab, .tab2 {
    color: #9D3939;
    font-weight: bold;
    font-size: 1.75em;    
    display: inline-block; 
    margin-top: 2%;
    margin-right: 5%;
    margin-left: 5%;
    font-family: 'TTTtangsbudaejjigaeB', 'Dongle';
}

.tab2 {
    color: #9D3939;
    font-weight: bold;
    font-size: 1.5em; 
    display: block;
    margin-bottom: 3%; 
    margin-top: 2%;
    margin-right: 5%;
    margin-left: 5%;
    font-family: 'TTTtangsbudaejjigaeB', 'Dongle';
}

@media (max-width: 600px) {
    .tab {
        font-size: 1.25em; /* 상대적으로 작은 크기로 설정 */
    }
    .slide_wrap {
        width: 300px;
    }
    .slide_wrap img{
        width: 200px;
    }
}
/* 
#admin-btn {
    position: absolute;
    top: 10px; 
    right: 20px; 
    font-family: 'TTTtangsbudaejjigaeB','Dongle';
    color: #9D3939;
    font-size: 1em;
    cursor: pointer;
    margin-left: 10%;
} */

.close {
    color: #aaa;
    position: absolute;
    top: 10px; 
    right: 20px; 
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.logo {
    width: 350px;
    height: auto;
}

/* 슬라이드 */
.slide-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.blank-box {
    flex: 1;
    position: relative;
    text-align: center;
}

.slide_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.slide_wrap img {
    border-radius: 15px;
    width: 1000px;
}
@media (max-width: 600px) {
    .slide_wrap img {
        width: 300px; /* 화면 폭이 600px 이하일 때 이미지 크기를 300px로 조정 */
    }
}

.slide_button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #9D3939;
}

.slide_prev_button {
    right: 10px;
}

.slide_next_button {
    left: 10px;
}


/* 미디어 쿼리 */
@media (max-width: 1100px) {
    .slide_wrap img {
        width: 700px;
    }
    .slide-container {
        margin-bottom: 0px;
    }
    
    
}


#admin-container {
    margin-right: 10px;
    top: 10px; 
    right: 20px; 
}

#admin-btn {
    color: #9D3939;
    position: fixed;
    font-size: 1em;
    cursor: pointer;
    top: 10px; 
    right: 20px; 
}

#admin-btn1 {
    color: #9D3939;
    font-size: 1em;
    cursor: pointer;
    margin-left: 10%;
    text-align: center;
}

@media only screen and (max-width: 768px) { 
    #admin-btn {
        display: none;
    }

    #menu-icon {
        display: block; /* 화면이 작아지면 햄버거 아이콘 나타남 */
    }

    /* 추가된 스타일은 필요에 따라 조정 가능 */
    .tab {
        display: none;
    }
    .slide_wrap img {
        width: 300px;
    }
    .slide-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        overflow: auto;
        z-index: -1;
        margin-top: 100px;
    }
     
   
}
@media ( max-width: 690px ) {
    .modal a {
        font-size: 24px;
    }
    
}

