@font-face {
    font-family: 'Godo';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
  }

body {
    background-color: #F1F1F1;
    font-family: 'Godo';
}

header {
    background-color: #F1F1F1;
    text-align: center;
    position: relative; 
    border:none;
}

#menu-icon {
    display: none; /* 초기에는 햄버거 아이콘 숨김 */
    position: absolute;
    top: 20px; 
    right: 20px; 
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    position: relative;
    background-color: #F1F1F1;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    height: 50%;
    max-width: 800px; 
    max-height: 600px;
    border-radius: 20px;
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;

    /* background-image: url('./../images/home.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
}

.tab {
    color: #9D3939;
    font-weight: bold;
    font-size: 1.75em;    
    display: inline-block; 
    margin-bottom: 3%; 
    margin-top: 2%;
    margin-right: 5%;
    margin-left: 5%;
}

.tab2 {
    color: #9D3939;
    font-weight: bold;
    font-size: 1.75em; 
    display: block;
    margin-bottom: 3%; 
    margin-top: 2%;
    margin-right: 5%;
    margin-left: 5%;
}

@media (max-width: 600px) {
    .tab {
        font-size: 1.25em; /* 상대적으로 작은 크기로 설정 */
    }
}

#admin-btn {
    position: absolute;
    bottom: 20px; 
    right: 20px; 
}

.close {
    color: #aaa;
    position: absolute;
    top: 10px; 
    right: 20px; 
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.logo {
    width: 350px;
    height: auto;
}


/* 슬라이드 */
.slide-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 100%;
    background-color: antiquewhite;
    overflow: hidden;
    z-index: -1;

}

.blank-box {
    flex: 1;
    position: relative;
    text-align: center;
}

.slide_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (width: 1600px) {
    .slide_wrap {
        margin-top: 10px;
    }
}

.slide_wrap img {
    border-radius: 0px;
}

.slide_button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.slide_prev_button {
    right: -40px;
    color: white;
    font-size: xx-large;
}

.slide_next_button { 
    font-size: xx-large;
    color: white;
    left: -40px;
}




.swashIn {
-webkit-animation-name: swashIn;
animation-name: swashIn;
}

@-webkit-keyframes swashIn {
0% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(0, 0);
}
90% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(0.9, 0.9);
}
100% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
}
}
@keyframes swashIn {
0% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(0, 0);
}
90% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(0.9, 0.9);
}
100% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
}
}

/* 미디어 쿼리 */
@media ( max-width: 1600px ) {
    .slide_wrap img {
        width: 1500px;
    }

    
    
}

.cake1_container{
    /* margin-top: 5%; */
    height: 100vh;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#F1F1F1;
}

.cake1_img {
    width: 100%;
}

.cake1_info{
    margin-left: 20px;
}

#admin-container {
    margin-right: 10px;
}

#admin-btn {
    color: #9D3939;
    font-weight: bold;
    font-size: 1.5em;
    cursor: pointer;
    margin-left: 10%;
}

@media only screen and (max-width: 768px) {
    #admin-btn {
        display: none; /* 화면이 작아지면 관리자 버튼 숨김 */
    }

    #menu-icon {
        display: block; /* 화면이 작아지면 햄버거 아이콘 나타남 */
    }

    /* 추가된 스타일은 필요에 따라 조정 가능 */
    .tab {
        display: none;
    }
}