.menu-items {
display: flex;
flex-wrap: wrap;
justify-content: center;
margin-top: 20px;
margin-bottom: 80px;
}

.menu-item img {
    max-width: 100%; /* 부모 요소의 크기에 맞게 이미지 크기를 조절 */
    height: auto;    /* 가로 세로 비율을 유지한 채로 크기를 조절 */
    border-radius: 10px;
}

.menu-item {
position: relative;
width: 33%;
padding: 10px; 
border: #9D3939 1px solid;
border-radius: 10px;
margin: 10px;
display: flex;
flex-direction: column;
}

.item-content {
position: relative;
margin: 5px;
}

.item-checkbox {
position: absolute;
top: 5px;
right: 5px;
z-index: 1; 
}


#edit-btn {
width: 20%;
padding: 2px 5px; 
font-size: 10px; 
margin: 5px;
border: none;
border-radius: 5px;
background-color: rgb(223, 129, 129);
color: white;
/* margin-top: 10px; */
}

.update-box {
display: flex;
justify-content: flex-end;
margin-top: 20px;
}
.update-box button {
margin-left: 10px;
}